@font-face {
  font-family: ars-maquette;
  src: url(fonts/ars-maquette-regular.ttf);
}

@font-face {
  font-family: avalon;
  src: url(fonts/avalon.ttf);
}

@font-face {
	font-family: shentox;
	src: url(fonts/Shentox.ttf);
}

.ars-maquette {
	font-family: ars-maquette;
}

.ars-maquette-bold {
	font-family: ars-maquette;
	font-weight: 700;
}

.avalon {
	font-family: avalon;
}

.avalon-bold {
	font-family: avalon;
	font-weight: 700;
}

.shentox {
	font-family: shentox;
}

.shentox-bold {
	font-family: shentox;
	font-weight: 700;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.display-box {
  display: block;
}

.text-decoration-none {
  text-decoration: none;
}

.color-white {
	color: white;
}

.color-orange {
  color: #f42;
}

.color-black {
  color: black;
}

.list-style-type-none {
	list-style-type: none;
}

nav {
  justify-content: space-between;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}

.logo {
  width: 106px;
  height: 48px;
  background-color: black;
}

.logo img {
  width: 66px;
  height: 16px;
  background-color: black;
}

.fa-search {
  color: lightgray;
}

nav .icon-container {
  border-left: 1px solid #eee;
  height: 48px;
  width: 48px;
}

.stories-cover {
	min-height: 30vh;
  margin: 4px;
  position: relative;
}

.top-stories {
	padding: 4px;
}

.header-stories {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
	position: absolute;
	box-sizing: border-box;
  width: 100%;
  z-index: 3;
}

.article-links-img {
	background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

.article-links-AIimaging {
  background-image: url(img/Untitled-design-2021-01-18T124627.webp);
}

.article-links-CESgadgets {
  background-image: url(img/CES-home-796x418.jpg);
}

.article-links-rrhybrid {
  background-image: url(img/ev-phantom-rols-royce-silent-shadow-car-future-electric-vehicle-796x449.jpg);
}

.article-links-Trump {
  background-image: url(img/trump.jpg);
}

.article-links-Trump1 {
  background-image: url(img/trump1.webp);
}

.article-links-eyestrain {
  background-image: url(img/eyestrain.jpg);
}

.article-links-ukbus {
  background-image: url(img/ukbus.jpg);
}

.article-links-knd {
  background-image: url(img/knd.webp);
}

.article-links-opensource {
  background-image: url(img/opensource.webp);
}

.article-clickable {
  height: 100%;
  width: 100%;
  position: absolute;
	z-index: 2;
	background: rgba(0,0,0,.25) url(img/image-gradient.png) no-repeat;
	background-size: 100% 100%;
}

.stories-title {
  font-weight: 700;
  line-height: 1.1;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 5px;
}

.article-details {
	font-size: 12px;
  color: hsla(0,0%,100%,.6);
  font-weight: 400;
}

.article-details span {
	margin-left: 6px;
}

.article-details i {
	margin-right: 4px;
}

.article-details a {
	color: hsla(0,0%,100%,.6);
}

main {
	padding: 0 20px;
}

.latest {
	padding-top: 24px;
}

.latest-title+img {
  height: 15px;
}

.newslist {
	padding: 0;
	margin: 0
}

.newsitem {
	height: 72px;
	padding: 8px 0;
}

.newsitem h4 {
	margin: 0 0 5px 0;
	font-size: 14px;
}

.newsitem ul {
	padding: 0;
  font-size: 12px;
  color: #aaa;
}

.newsitem li+li {
  margin-left: 10px;
}

.newsitem img {
	height: 75px;
	width: 75px;
}

.newsitem div {
	margin-left: 10px;
}

.funding-round {
  background-color: #fffaf8;
  margin-bottom: 8px;
  padding: 6px;
}

.investments-header {
  margin-bottom: 24px;
}

.investments-header a {
  color: #f42;
}

.investments-header h2 {
  margin-bottom: -1px;
}

.investment-links {
  margin-top: 11px;
  margin-bottom: 0;
}

.investments-content img {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 10.7px;
}

.investment-header {
  height: 104px;
  width: 100%;
}

.investment-header1 {
  background: #f42;
  padding: 10.7px 16px 10.7px 84px;
  margin: 0;
}

.investment-header2 {
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: #000;
  background: rgba(255,68,34,.08);
}

.investment-header2 h4 {
  margin: 0;
}

.investment-header2 h5 {
  margin: 0;
  font-weight: 400;
  opacity: .5;
}

.investment-card {
  padding: 16px;
  flex-direction: column;
}

.investment-card a {
  margin-bottom: .5em;
  font-weight: 400;
}

.investment-card i {
  margin-right: 8px;
}

.investment-story { 
  padding: 10px 16px 16px 16px;
  border-top: 1px solid rgba(255,68,34,.25);
}

.article-wrap {
  background-color:#fffaf8;
  margin: 2px 0;
  height: 96px;
}

.article-header {
  padding: 10px 14px 0;
}

.article-header h5 {
  margin: 0;
  font-weight: 400;
}

.article-header h4 {
  margin: 0;
  font-size: 14px;
}

.late-news-header h4 {
  font-size: 28px;
  margin: 0 0 14px 0;
}

.latest-news .stories-cover {
  margin: 4px 0;
}

.article-img {
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
  flex: 0 0 96px;
}

.article-winklevoss {
  background-image: url(img/winklevossbitcoin.jpg);
}

.article-android {
  background-image: url(img/android.webp);
}

.article-sleepapp {
  background-image: url(img/sleepapp.webp);
}

.article-bangkok {
  background-image: url(img/bangkok.webp);
}

.article-gdesign {
  background-image: url(img/gdesign.jpg);
}

.article-gugol {
  background-image: url(img/gugol.webp);
}

.late-news-list {
  list-style: none;
  padding-left: 20px;
}

.late-news-list li {
  border-bottom: 1px solid #eee;
  padding: 6px 0;
}

.late-news-list li::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.late-news-list a {
  font-size: 14px;
}
